{% extends "base.html" %}
{% block content %}

<main>
    <section class="section-hero section-hero-first-time">
        <div class="hero">
            <div class="hero-text-box">
                <h2 class="heading-primary">Legal</h2>
            </div>
         </div>
    </section>

    <section class="section-first-time">
        <div class="legal-btn-box">

            <a class="btn btn--shaded btn--settings" href="/legal/terms_of_service" target="_blank">Terms of Service</a>

            <a class="btn btn--shaded btn--settings" href="/legal/privacy_policy" target="_blank">Privacy Policy</a>

            <a class="btn btn--shaded btn--settings" href="/legal/cookie_policy" target="_blank">Cookie Policy</a>

            <a class="btn btn--shaded btn--settings" href="/legal/return_policy" target="_blank">Return Policy</a>

        </div>
    </section>
</main>
{% endblock %}
