{% extends "base.html" %}
{% block content %}

<main>
    <section class="section-hero section-hero-first-time">
      <div class="hero">
        <div class="hero-text-box">
          <h2 class="heading-primary">Return Policy</h2>
        </div>
      </div>
    </section>

    <section class="section-first-time-form">
        <section class="section-first-time">
            <div class="container return-policy-box">
                <p class="form-timezone heading-quaternary green">RETURN POLICY</p>
                <p class="form-timezone">All Sales are Final</p>
                <p class="form-timezone">All CryptoStacker products are considered FINAL SALES and will not be eligible for return/exchange.</p>    
                </p>
            </div>
        </section>
    </section>
</main>

{% endblock %}