{% extends "base.html" %}
{% block content %}

<h2>Pick plan:</h2>

<br>
<a class="button" href="/subscribe/2/1">tier 2 - 1 month</a>
<br>
<a class="button" href="/subscribe/2/3">tier 2 - 3 month</a>
<br>
<a class="button" href="/subscribe/2/6">tier 2 - 6 month</a>
<br>
<a class="button" href="/subscribe/2/12">tier 2 - 12 month</a>
<br>
<a class="button" href="/subscribe/2/1200">tier 2 - lifetime</a>
<br><br>
<a class="button" href="/subscribe/3/1">tier 3 - 1 month</a>
<br>
<a class="button" href="/subscribe/3/3">tier 3 - 3 month</a>
<br>
<a class="button" href="/subscribe/3/6">tier 3 - 6 month</a>
<br>
<a class="button" href="/subscribe/3/12">tier 3 - 12 month</a>
<br>
<a class="button" href="/subscribe/3/1200">tier 3 - lifetime</a>


{% endblock %}