{% extends "base.html" %}

{% block content %}

<main>
  <section class="section-exchanges">
      <div class="container center-text">
        <h3 class="heading-tertiary">CryptoStacker must verify your identity for legal purposes.</h3>
        <h3 class="heading-tertiary margin-bottom-md">Please click the button below to begin identity verification with Persona</h3>

<a href="/utilities/persona_verification/begin" class="btn btn--full">Verify my Identity</a>

</div>
</section>
</main>


{% endblock %}