{% extends "base.html" %}

{% block content %}

<main>
    <section class="section-error">
        <div class="container">
        <h1 class="heading-secondary">Sorry, you don't have permission to view this page. 403</h1>
            <pre class="error-img">

             \                           /
              \                         /
               \                       /
                ]                     [    ,'|
                ]                     [   /  |
                ]___               ___[ ,'   |
                ]  ]\             /[  [ |:   |
                ]  ] \           / [  [ |:   |
                ]  ]  ]         [  [  [ |:   |
                ]  ]  ]__     __[  [  [ |:   |
                ]  ]  ] ]\ _ /[ [  [  [ |:   |
                ]  ]  ] ] (#) [ [  [  [ :===='
                ]  ]  ]_].nHn.[_[  [  [
                ]  ]  ]  HHHHH. [  [  [
                ]  ] /   `HH("N  \ [  [
                ]__]/     HHH  "  \[__[
                ]         NNN         [
                ]         N/"         [
                ]         N H         [
               /          N            \
              /           q,            \
             /                           \
    

            </pre>
        </div>
    </section>
</main>


{% endblock %}