{% extends "base.html" %}
{% block content %}

<main>
    <section class="section-hero section-hero-first-time">
      <div class="hero">
        <div class="hero-text-box">
          <h2 class="heading-primary">Who we are</h2>
        </div>
      </div>
    </section>

    <section class="section-first-time-form">
        <section class="section-first-time">
            <div class="container return-policy-box">
                <p class="form-timezone heading-quaternary green">Who we are</p>
                <p class="form-timezone">Like so many people we at CryptoStacker were dollar cost averaging into Bitcoin using the traditional methods.  After backtesting dollar cost averaging strategies we realized there was a better way to DCA, high frequency dollar cost averaging, we were so excited about this new way to DCA that we built CryptoStacker.  After experiencing multiple exchange outages over the years we knew that high availability features had to be included with CryptoStacker to ensure that even longest and most disruptive exchange outages wouldn't impact a high frequency DCA schedule.</p>
                <p class="form-timezone">Security is the number one priority at CryptoStacker.  CryptoStacker was founded by experienced CyberSecurity engineers who are equally passionate about CryptoCurrency and CyberSecurity.  Our founders have worked at fortune 500 companies & finanical instuitions.</p>
                </p>
            </div>
        </section>
    </section>
</main>

{% endblock %}
