{% extends "base.html" %}
{% block content %}

    <main>


      <section class="section-hero section-hero-pricing">
        <div class="hero">
          <div class="hero-text-box">
            <span class="subheading">Pricing</span>
            <h1 class="heading-primary">3 tiers to choose from</h1>
          </div>
        </div>
      </section>
      <section class="section-pricing">


      <div class="container grid grid--3-cols margin-bottom-md">

        <div class="pricing-plan pricing-plan--starter">
          <header class="plan-header">
            <p class="plan-name">Tier 1</p>
            <p class="plan-price">Free</p>
            <p class="plan-text">default plan</p>
            <p class="plan-text">up to ${{csr_tier_limits_map["tier1"]["dollar_limit"]}} in transactions</p>
            <p class="plan-text">each month</p>
          </header>
           
          <div class="plan-sign-up default-plan">
            <a href="/pricing-tier-1" class="btn btn--full">Choose this plan</a>
          </div>
        </div>


        <div class="pricing-plan pricing-plan--starter">
          <header class="plan-header">
            <p class="plan-name">Tier 2</p>
            <p class="plan-price"><span>$</span>{{csr_price_and_per_month_map_dict["tier2"]["12months"]["price_per_month"]}}</p>
            <p class="plan-text"> per month billed annually</p>
            <p class="plan-text">includes up to ${{csr_tier_limits_map["tier2"]["dollar_limit"]}} in transactions each month</p>
          </header>
          
          <div class="plan-sign-up">
            <a href="/pricing-tier-2" class="btn btn--full">Choose this plan</a>
          </div>
        </div>
        <div class="pricing-plan pricing-plan--starter">
          <header class="plan-header">
            <p class="plan-name">Tier 3</p>
            <p class="plan-price"><span>$</span>{{csr_price_and_per_month_map_dict["tier3"]["12months"]["price_per_month"]}}</p>
            <p class="plan-text">per month billed annually</p>
            <p class="plan-text">unlimited transactions</p>
          </header>
          
          <div class="plan-sign-up">
            <a href="/pricing-tier-3" class="btn btn--full margin-top-pricing">Choose this plan</a>
          </div>
        </div>






      </div>

      <div class="container grid">
        <aside class="plan-details">
          Prices include all applicable taxes. You can cancel at any time. 
          All plans include the following:
        </aside>
      </div>

      <div class="container grid grid--4-cols">
        <div class="feature">
          <ion-icon class="feature-icon md hydrated" name="time-outline" role="img" aria-label="time outline"></ion-icon>
          <p class="feature-title">High frequency DCA schedules</p>
          <p class="feature-text">With a high frequency DCA strategy you'll be
            taking advantage of market volatility.  <a href="https://blog.cryptostacker.io/blog/benefits-of-high-frequency-dollar-cost-averaging">Read more</a>
            </p>
        </div>
        <div class="feature">
          <ion-icon class="feature-icon md hydrated" name="globe-outline" role="img" aria-label="globe outline"></ion-icon>
          <p class="feature-title">High availability DCA schedules</p>
          <p class="feature-text">Never again worry about your favorite exchange being down during a dip.
            Even when your favorite exchange is down CryptoStacker can automatically switch to your next favorite exchange.
            <a href="https://blog.cryptostacker.io/blog/the-benefits-of-high-availability-dollar-cost-averaging">Read more</a>
          </p>
        </div>
        <div class="feature">
          <ion-icon class="feature-icon md hydrated" name="cash-outline" role="img" aria-label="cash outline"></ion-icon>
          <p class="feature-title">Get started for free</p>
          <p class="feature-text">Everyone is in the free tier by default which means you'll receive $300/month in free DCA transactions
            on all of our supported exchanges.  No obligation to upgrade to the paid tier.
            </p>
        </div>
        <div class="feature">
          <ion-icon class="feature-icon md hydrated" name="finger-print-outline" role="img" aria-label="finger print outline"></ion-icon>
          <p class="feature-title">Security is our priority</p>
          <p class="feature-text">Security is the number one priority at CryptoStacker.  CryptoStacker was founded by experienced CyberSecurity engineers who are equally passionate about CryptoCurrency and CyberSecurity.
            </p>
          </div>
      </div>
      </section>
    </main>

    {% endblock %}